* { box-sizing: border-box;}

body {
    padding: 0;
    margin: 0;
    background-color: var(--dark);
    color: var(--red);
    font-family: monospace;
    letter-spacing: 3px;
}

:root {
    --red: #F05454;
    --blue: #509eec;
    --dark: #222831;
    --light: #E8E8E8;
}

h1 {
    font-size:  3rem;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 70%;
    height: 90%;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    margin: 0 50px;
    background-color: var(--light);
}

.grid-border {
    border-top: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    cursor: pointer;
}

.pixel-border {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    cursor: pointer;
}

.pixel {
    background-color: #000;
    cursor: pointer;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    margin: auto 30px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--blue);
    border-radius: 5px;
    border: none;
    font-family: monospace;
}

button:hover {
    animation: fill 0.2s ease-in forwards;
}

@keyframes fill {
    0% {
        background-color: var(--blue);
    }
    100% {
        background-color: var(--red);
    }
}

button:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#range-container {
    display: flex;
}

input[type=range] {
    writing-mode: vertical-lr;
    direction: rtl;
    width: 70px;
    cursor: pointer;
}

#sizes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
}